// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

body {
  font-size: 18px;
}

table {
  border: 1px solid #ddd;
  width: 100%;
  margin: 20px 0;
}

th {
  background: #eee;
}

td, th {
  padding: 10px;
  border: 1px solid #ddd;
  vertical-align: bottom;
}

.underline {
  border-bottom: 1px solid #000;
}

.shrink {
  white-space: nowrap
}

.expand {
  width: 99%;
}

td.signature {
  height: 90px;
}
